@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}

.grid {}

.container-card {
  position: relative;
}

.tap {
  width: 23%;
  margin: 0 0 1rem 0;
}

.tap-body {
  width: 100%;
}

.cover {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: 1rem;
}

.cover:hover {
}

.image-secret {
  width: 100%;
}

.image-secret:hover {

}

.visible {
  opacity: 1;
  transition: opacity 0.2s linear;
}

.hidden {
  opacity: 0;
  transition: visibility 0s 0.2s, opacity 0.2s linear;
}